body {
  background-color: rgb(47, 45, 61) !important;
}
.container {
  margin-top: 3%;
}
.prompt {
  background-color: rgb(53, 52, 61) !important;
}
.segment {
  background-color: rgb(54, 54, 72) !important;
}
.icon,
.prompt {
  color: #fff !important;
}
.input {
  width: 100%;
}
.content,
.header,
.segment {
  color: #fff !important;
}
.video-item {
  display: flex !important;
  align-items: center;
  cursor: pointer;
}
